aiobotocore==2.22.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.9
aioitertools==0.12.0
aiosignal==1.3.2
alembic==1.16.1
annotated-types==0.7.0
antlr4-python3-runtime==4.13.2
anyio==4.9.0
attrs==25.3.0
backoff==2.2.1
botocore==1.37.3
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
coloredlogs==14.0
dagster==1.10.18
dagster-dlt==0.26.18
dagster-embedded-elt==0.26.18
dagster-graphql==1.10.18
dagster-pipes==1.10.18
dagster-sling==0.26.18
dagster-webserver==1.10.18
dagster_shared==1.10.18
dagster-dbt==0.26.18
dbt-adapters==1.15.3
dbt-common==1.25.0
dbt-core==1.9.6
dbt-duckdb @ git+https://github.com/duckdb/dbt-duckdb.git@afc39991158c0f719e5e57469ab466cfb63fbb8c
dbt-extractor==0.6.0
dbt-protos==1.0.317
dbt-semantic-interfaces==0.7.4
dlt==1.11.0
dlt[parquet]
docstring_parser==0.16
filelock==3.18.0
frozenlist==1.6.2
fsspec==2025.5.1
gitdb==4.0.12
GitPython==3.1.44
giturlparse==0.12.0
gql==3.5.3
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet==3.2.2
grpcio==1.72.1
grpcio-health-checking==1.71.0
h11==0.16.0
hexbytes==1.3.1
httptools==0.6.4
humanfriendly==10.0
humanize==4.12.3
idna==3.10
Jinja2==3.1.6
jmespath==1.0.1
jsonpath-ng==1.7.0
makefun==1.16.0
Mako==1.3.10
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
multidict==6.4.4
orjson==3.10.18
packaging==25.0
pathvalidate==3.2.3
pendulum==3.1.0
pluggy==1.6.0
ply==3.11
propcache==0.3.1
protobuf==5.29.5
pydantic==2.11.5
pydantic_core==2.33.2
Pygments==2.19.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
requests-toolbelt==1.0.0
requirements-parser==0.13.0
rich==14.0.0
rich-argparse==1.7.1
s3fs==2025.5.1
semver==3.0.4
simplejson==3.20.1
six==1.17.0
sling==1.4.9.post2
sling-mac-amd64==1.4.9.post2
smmap==5.0.2
sniffio==1.3.1
SQLAlchemy==2.0.41
sqlglot==26.25.3
starlette==0.47.0
structlog==25.4.0
tabulate==0.9.0
tenacity==9.1.2
tomli==2.2.1
tomlkit==0.13.2
toposort==1.10
tqdm==4.67.1
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
universal_pathlib==0.2.6
urllib3==2.4.0
uvicorn==0.34.3
uvloop==0.21.0
watchdog==5.0.3
watchfiles==1.0.5
websockets==15.0.1
wrapt==1.17.2
yarl==1.20.0
